<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>jacman.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>maupassant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>next copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>next.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1420510C1E49E1BB006D86DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149F33481E0A74AE00AAC556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14D1C3711E49D0CA00E3F905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14D1C3781E49D4DA00E3F905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843D6AD01E0AE20B004A5FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
